<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747173882855-08h3ipgbro695280krojqa620mru7qgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747173882855-08h3ipgbro695280krojqa620mru7qgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDIS3cv1KeYuuIN0WOxO_a7CpeonjcpRj4</string>
	<key>GCM_SENDER_ID</key>
	<string>747173882855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ken.QuickGourmet</string>
	<key>PROJECT_ID</key>
	<string>quickgourmet-2e684</string>
	<key>STORAGE_BUCKET</key>
	<string>quickgourmet-2e684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747173882855:ios:aa4ac5e58ed61741b52b42</string>
</dict>
</plist>